@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight> ;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}


 body {
    font-family: "Oswald";
 }

.menu {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px 0;
}

.box {
  width: 120px;
  height: 50px;
  text-align: center;
  padding-top: 55px;
  color: white;
  background-repeat: no-repeat;
  background-position: center 10px;
}


.facebook {
  background-image: url("./img/faceBlack.png");
}

.facebook:hover {
  background-image: url("./img/face.png");
  color: blue;
  border-bottom: 4px solid blue;
  
}


.instagram {
  background-image: url("./img/instaBlack.png");
}

.instagram:hover {
  background-image: url("./img/insta.png");
  color: violet;
  border-bottom: 4px solid violet;
}


.maps {
  background-image: url("./img/mapsBlack.png");
}

.maps:hover {
  background-image: url("./img/maps.png");
  color: "dark-green";
  border-bottom: 4px solid "darkgreen";
  
}


.twitter {
  background-image: url("./img/twitterBlack.png");
}

.twitter:hover {
  background-image: url("./img/twitter.png");
  color: yellow;
  border-bottom: 4px solid yellow;
}


.youtube {
  background-image: url("./img/youtubeBlack.png");
}

.youtube:hover {
  background-image: url("./img/youtube.png");
  border-bottom: 4px solid red;
  color: red;
}

 ul {
    border: 1px solid black;
    background-color: black;
    display: flex; /*o ul é container */
    flex-direction: row;
    justify-content: center;
    padding: 0px;
 }

ul li {
    list-style: none; 
}
     */ retira os bullets */
