@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight> ;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}


 body{
    font-family: "Oswald";
 }

.menu {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px 0;
}

.box {
  width: 120px;
  height: 50px;
  text-align: center;
  padding-top: 55px;
  color: white;
  text-decoration: underline;
  background-repeat: no-repeat;
  background-position: center 10px;
}


.facebook {
  background-image: url("./img/faceBlack.png");
}

.facebook:hover {
  background-image: url("./img/face.png");
}


.instagram {
  background-image: url("./img/instaBlack.png");
}

.instagram:hover {
  background-image: url("./img/insta.png");
}


.maps {
  background-image: url("./img/mapsBlack.png");
}

.maps:hover {
  background-image: url("./img/maps.png");
}


.twitter {
  background-image: url("./img/twitterBlack.png");
}

.twitter:hover {
  background-image: url("./img/twitter.png");
}


.youtube {
  background-image: url("./img/youtubeBlack.png");
}

.youtube:hover {
  background-image: url("./img/youtube.png");
}
